body{
    font-family: Antonio;
    background-color: #d6bebd;
    color: #2a2a21;
    line-height: 1.6;
}
.main {
    margin: auto;
    width: 960px;
}
.main h1 a{
    color: #2a2a21;
    text-decoration: none;
}
.main h1 a:hover{
    color: #6a555d;
    text-decoration: none;
}
.secondary{
    width: 960px;
}
.box{
    width: 560px;
    float: left;
}
.box h2{
    font-weight: bold;

}
.box p{
    font-size: 14px;
    text-align: justify;
}
.box img{
    width: 50%;
    float: left;
    margin: 10px;
    border-radius: 5px;
}
.boxer{
    width: 560px;
    float: left;
}
.boxer h2{
    font-weight: bold;

}
.boxer p{
    font-size: 14px;
    text-align: justify;
    line-height: 1.6;
}
.boxer img{
    width: 50%;
    float: right;
    margin: 10px;
    border-radius: 5px;
}
.side{
    width: 330px;
    float: right;
}
.pot p{
    font-size: 14px;
    text-align: justify;
}
.pot li{
    list-style: none; 
}
.pot a{
    color: #2a2a21;
    text-decoration: none;
}
.pot a:hover{
    color: #6a555d;
}
.footer{
    width: 560px;
    float: left;
    text-align: center;
}
.footer a{
    color: #2a2a21;
    text-decoration: none;
}
.footer a:hover{
    color: #6a555d;
}
